*, *:before, *:after {
    box-sizing: border-box;
}

html {font-size: 16px;}

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #f0f0f0;
    color: rgba(0,0,0,.87);
    font-family: 'Roboto', sans-serif;
    height: auto;
    margin: 0;
    min-height: 100%;
    min-width: $min-width;
    position: relative;
    text-rendering: optimizelegibility;
}

ul {
    -webkit-padding-start: 0;
    margin: 0;
    padding: 0;
}

.#{$pkg}__app--header {
    background-color: $white;
    box-shadow: 0 2px 5px rgba(0,0,0,.26),0 -1px 0 rgba(0,0,0,.02);
    left: 0;
    min-height: 4rem;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    h1 {
        color: $red;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 4rem;
        margin: 0;
    }
}

.box {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1),0 -1px 0 rgba(0,0,0,.02);
    padding: 0.25rem;
}

.disabled {
    text-decoration: line-through;
}

.flex {
    display: flex;
    justify-content: center;
    /*flex-flow: column;
    min-height: calc(100vh - 5rem);*/
}

.cnn-hangman__app--header {
    justify-content: space-between;

    .miss-count {
        font-size: .875rem;
        line-height: 4rem;

        span {
            display: inline-block;
        }
    }

    .label {
        border-radius: 50%;
        color: $white;
        font-weight: 700;
        height: 1rem;
        line-height: 0.5rem;
        padding: 0.25rem;
        width: 1rem;
    }

    .miss {
        background-color: $red;
    }
}

.wrapper {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: $max-width;
    min-height: calc(100vh - 5rem);
    padding-top: 4rem;
    transition: max-width 0.5s ease;

    .canvas {
        flex: 1;
    }

    .alphabet {
        display: inline-block;
        margin: 0 auto;
    }

    > .alphabet-list {
        flex: 1;
    }

    .alphabet-list {
        &.box {
            display: flex;

            ul {
                display: inline-flex;
            }
        }

        li {
            flex-basis: 3rem;
            font-size: 2rem;
            line-height: 1;
            list-style: none;
            margin-left: .25rem;
            padding: 0.25rem;
            text-align: center;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .alphabet-list__blocks {
        margin-top: 0.25rem;

        li {
            display: inline-block;
            list-style-type: none;

            &:first-child {
                margin-left: 0;
            }
        }
        span {
            display: block;
            height: 32px;
            line-height: 2;
            text-align: center;
            width: 32px;
        }
    }
}
